* {
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
  "nav main";
  grid-template-columns: 1fr 17fr;
  height: 100vh;
}

.nav-parent {
 display: flex;
 flex-direction: column;
 grid-area: nav;
}

.icon {
  padding: 5%;
  width: 100%;
}

.nav-child {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-bottom: 250%;
}

.nav-btn {
  margin: 5% 0
  outline: none;
}

.nav-btn:hover {
  border-left: 4px solid #1CA3BA;
  outline: none;
}

.btn-icon {
  margin: 5% 25% 0;
  outline: none;
  width: 50%;
}

main {
  grid-area: main;
}

h1,
#main-heading {
  background-color: #F5F5F5;
  color: #363636;
  font-size: 26px;
  padding: 2.5% 2.5% 0;
}

.main-container {
  background-color: #F5F5F5;
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

/* wallettttttttttttttttttttt */
.wallet-container {
  background-color: #F5F5F5;
  display: grid;
  grid-template-areas:
  "leftside rightside";
  grid-template-columns: 1fr 1fr;
}

.user-summary {
  margin: 2%;
  width: 45%;
}

/* wallettttttttttttttttttttt */
.wallet-user-summary {
  border-radius: 3px;
  grid-area: leftside;
  height: 100%;
  margin: 2%;
}

/* wallettttttttttttttttttttt */
.wallet-recent-transactions {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  grid-area: rightside;
  height: 100vh;
  margin: 14.5% 11% 0% 11%;
}

/* wallettttttttttttttttttttt */
.transactions-page-header {
  display: grid;
  grid-template-areas:
  "left right1 right2 right3";
  grid-template-columns: 3fr 1fr 1fr 1fr;
  margin-bottom: 5%;
}

/* wallettttttttttttttttttttt */
.transactions-page-title {
  grid-area: left;
}

fieldset {
  border: none;
}

/* wallettttttttttttttttttttt */
.transaction-btns {
  background-color: #FFFFFF;
  border: 2px solid #1CA3BA;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  color: #1CA3BA;
  font-size: 11px;
  margin-top: 22%;
  outline: none;
  padding: 2% 1% 1% 1%;
  width: 98%;
}

.transaction-btns:hover {
background-color: #1CA3BA;
color: #FFFFFF;
}

/* wallettttttttttttttttttttt */
.all {
  grid-area: right1;
}

/* wallettttttttttttttttttttt */
.inflow {
  grid-area: right2;
}

/* wallettttttttttttttttttttt */
.outflow {
  grid-area: right3;
}

/* wallettttttttttttttttttttt */
.transaction-page-container {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  height: 100vh;
}

/* wallettttttttttttttttttttt */
.transaction-page-leftside {
  background-color: #FFFFFF;
  border-bottom: 2px solid #CCCCCC;
  display: grid;
  grid-template-areas:
  "date payee inflow outflow";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4% 4% 3%;
}

/* wallettttttttttttttttttttt */
.far-left {
  grid-area: date;
  margin-top: 20%;
}

/* wallettttttttttttttttttttt */
.middle-left {
  grid-area: payee;
  margin-top: 20%;
}

/* wallettttttttttttttttttttt */
.middle-right {
  grid-area: inflow;
  margin-top: 20%;
}

/* wallettttttttttttttttttttt */
.far-right {
  grid-area: outflow;
  margin-top: 20%;
}

/* wallettttttttttttttttttttt */
.new-transaction {
  background-color: #FFFFFF;
  font-size: 24px;
  margin: 2%;
  text-align: center;
}

/* wallettttttttttttttttttttt */
.guts {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}

/* wallettttttttttttttttttttt */
.drop-down {
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
}

/* wallettttttttttttttttttttt */
.expense-btn {
  background-color: #1CA3BA;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
  font-size: 15px;
  margin: 5% 15%;
  padding: 1% 5%;
}

.welcome-message {
  background: linear-gradient(45deg, #8ED1DC, #E3F4F6);
  border-radius: 4px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  display: flex;
  margin-bottom: 3%;
}

h3 {
  color: #363636;
  font-size: 18px;
  padding: 5%;
}

.close-icon {
  margin: -9% 0% 0% 61%;
  width: 2%;
}

.summary-container {
  display: flex;
  justify-content: space-between;
}

.account-summary {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  color: #363636;
  padding: 3%;
  margin: 1% 0;
  width: 30%;
}

.summary-title {
  font-size: 11px;
}

.summary-value {
  font-size: 20px;
}

.account-header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin: 5% 0 3%;
}

.recent-transaction-header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin: 4% 4% 3%;
}

.account-btn {
  background-color: #1CA3BA;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  color: #FFFFFF;
  font-size: 14px;
  outline: none;
  padding-top: 1%;
  width: 35%;
}

.account-btn:hover {
  background-color: grey;
  outline: none;
  transition: .5s;
}

.account-icon {
  grid-area: icon;
  width: 20%;
}

h2 {
  color: #363636;
  font-size: 24px;
}

.account-info {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  display: grid;
  grid-template-areas:
  "icon middle end";
  grid-template-columns: 1fr 2fr 1fr;
  margin: 1% 0;
  padding: 3%;
}

.account-text {
  font-size: 18px;
  grid-area: middle;
}

.account-text2 {
  font-size: 18px;
  grid-area: end;
}

.recent-transactions {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  margin: 2%;
  width: 45%;
}

/*  */
.wallet-recent-transactions {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  grid-area: rightside;
  margin: 14.5% 11% 0% 11%;
}

.transaction-categories {
  border-bottom: 2px solid #CCCCCC;
  display: grid;
  grid-template-areas:
  "date payee inflow outflow";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4% 4% 3%;
}

.far-left {
  grid-area: date;
}

.middle-left {
  grid-area: payee;
}

.middle-right {
  grid-area: inflow;
}

.far-right {
  grid-area: outflow;
}

.hidden {
  display: none;
}
