* {
  box-sizing: border-box;
  font-family: 'Biryani', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
  "nav main";
  grid-template-columns: 1fr 17fr;
  height: 100vh;
}

.nav-parent {
 display: flex;
 flex-direction: column;
 grid-area: nav;
}

.icon {
  padding: 5%;
  width: 100%;
}

.nav-child {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding-bottom: 250%;
}

.nav-btn {
  margin: 5% 0
}

.nav-btn:hover {
  border-left: 4px solid #1CA3BA;
}

.btn-icon {
  margin: 5% 25% 0;
  width: 50%;
}

main {
  grid-area: main;
}

h1 {
  background-color: #F5F5F5;
  color: #363636;
  font-size: 26px;
  padding: 2.5% 2.5% 0;
}

.main-container {
  background-color: #F5F5F5;
  display: flex;
  height: 100vh;
  justify-content: space-around;
}

.user-summary {
  margin: 2%;
  width: 45%;
}

.welcome-message {
  background: linear-gradient(45deg, #8ED1DC, #E3F4F6);
  border-radius: 4px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  display: flex;
  margin-bottom: 3%;
}

h3 {
  color: #363636;
  font-size: 18px;
  padding: 5%;
}

.close-icon {
  margin: -9% 0% 0% 61%;
  width: 2%;
}

.summary-container {
  display: flex;
  justify-content: space-between;
}

.account-summary {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  color: #363636;
  padding: 3%;
  margin: 1% 0;
  width: 30%;
}

.summary-title {
  font-size: 11px;
}

.summary-value {
  font-size: 20px;
}

.account-header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin: 5% 0 3%;
}

.recent-transaction-header {
  display: flex;
  justify-content: space-between;
  height: 35px;
  margin: 4% 4% 3%;
}

.account-btn {
  background-color: #1CA3BA;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 1%;
  width: 35%;
}

.account-icon {
  grid-area: icon;
  width: 20%;
}

h2 {
  color: #363636;
  font-size: 24px;
}

.account-info {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  display: grid;
  grid-template-areas:
  "icon middle end";
  grid-template-columns: 1fr 2fr 1fr;
  margin: 1% 0;
  padding: 3%;
}

.account-text {
  font-size: 18px;
  grid-area: middle;
}

.account-text2 {
  font-size: 18px;
  grid-area: end;
}

.recent-transactions {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.05);
  margin: 2%;
  width: 45%;
}

.transaction-categories {
  border-bottom: 2px solid #CCCCCC;
  display: grid;
  grid-template-areas:
  "date payee inflow outflow";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 4% 4% 3%;
}

.far-left {
  grid-area: date;
}

.middle-left {
  grid-area: payee;
}

.middle-right {
  grid-area: inflow;
}

.far-right {
  grid-area: outflow;
}
