* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
  "nav main";
  grid-template-columns: 1fr 17fr;
  height: 100vh;
}

.nav-parent {
 border: 2px solid red;
 display: flex;
 flex-direction: column;
 grid-area: nav;
}

.icon {
  border: 2px solid lightgrey;
  margin: 5%;
}

.nav-child {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.nav-btn {
  border: 2px solid black;
  margin: 5% 0
}

.btn-icon {
  border: 2px solid grey;
  margin: 50%;
}

main {
  border: 2px solid purple;
  grid-area: main;
}

h1 {
  border: 2px solid blue;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-around;
}

.user-summary {
  border: 2px solid pink;
  margin: 2%;
  width: 45%;
}

h3 {
  border: 2px solid grey;
}

.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-summary {
  border: 2px solid violet;
  margin: 1% 0;
  width: 30%;
}

.sub-header {
  border: 2px solid yellow;
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
}

.account-btn {
  width: 35%;
}

h2 {
  border: 2px solid green;
}

.account-info {
  border: 2px solid purple;
  margin: 1% 0;
}

.recent-transactions {
  border: 2px solid lightblue;
  margin: 2%;
  width: 45%;
}

.transaction-categories {
  border: 2px solid lightgrey;
}
